*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
.box1{
width: 35%;
/* height: 600px; */
background-color: rgb(63, 63, 63);
margin: auto;
justify-content: center;
align-items: center;
margin-top: 70px;
border-radius: 50px;
}
.box2{
    width: 90%;
    height: 150px;
    background-color: white;
   margin-left: 20px;
justify-content: center;
align-items: center;
position: relative;
top: 30px;
border-radius: 20px;
cursor: pointer;
text-align: right;
font-size: 100px;
   

}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    padding: 50px;
    justify-content: center;
    font-size: 60px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .buttons button {
    padding: 40px;
    font-size: 40px;
    background-color: gold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
  }

  .buttons button:hover {
    background-color: #ccc;
  }

